images/
processed/

!.vscode/launch.json
.vscode/

.env
.env.*

.DS_Store

.pnpm-store/

docs/planning/*

# Ignore mounted ai coding standards
/docs/ai-dev-rules/*

# Ignore mounted agents and tools 
.github/agents/*
